<!DOCTYPE html>
<html lang="en-US">

<head>
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="css/styles.css" rel="stylesheet" type="text/css">
  <script src="js/jquery-3.5.1.js"></script>
  <script src="js/scripts.js"></script>
  <title>An Alien Encounter</title>
</head>

<body>
  <div class="container">
    <h1>Fill in the blanks to write your terrifying story!</h1>
    <div>
      <form action="/madlib" method="post">
        <div class="form-group">
          <label for="friend-name">A friend's name</label>
          <input id="friend-name" name="friendName" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="smell">A smell adjective</label>
          <input id="smell" name="smell" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="shape-adjective">An adjective describing shape</label>
          <input id="shape-adjective" name="headShape" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="sensation">An adjective describing a feeling</label>
          <input id="sensation" name="sensation" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="vehicle">A vehicle type</label>
          <input id="vehicle" name="vehicle" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="place">A place</label>
          <input id="place" name="place" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="sound">An adjective describing a sound</label>
          <input id="sound" name="soundAdjective" class="form-control" type="text">
        </div>

        <button type="submit" class="btn btn-primary">Show me the story!</button>
      </form>
    </div>
  </div>
</body>

</html>